
.divchart{
  height:100px; 
  //width:2000px;
  // //margin:320px;
  // margin-top:320px; 
  // margin-bottom: 100px;
  // margin-left: 320px;
  // margin-right: 320px;
  margin: 0;
  transform: rotate(90deg) translateX(1000px);
    transform-origin: 50%;
}
